._imageGrid_1oq83_1 {
  margin-top: 16px;
}

._imageContainer_1oq83_5 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

._selection_1oq83_13 {
  position: absolute;
  top: 0;
  border-radius: 0 !important;
  background-color: #ffffffcc !important;
}

@media (max-width: 768px) {
  ._radioCheck_1oq83_21 {
    display: none;
  }
}

._radioCheck_1oq83_21 {
  width: 15px;
  height: 15px;
}

._imageFlexContainer_1oq83_31 {
  display: flex;
  flex-wrap: wrap;
}