._imageContainer_12a8a_1 {
  background-size: cover;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

}

._imageGrid_12a8a_10 {
  margin-top: 16px;
}

._selection_12a8a_14 {
  position: absolute;
  top: 0;
  border-radius: 50% !important;
  background-color: #ffffffcc !important;
}


@media (max-width: 768px) {
  ._radioCheck_12a8a_23 {
    display: none;
  }
}

._radioCheck_12a8a_23 {
  width: 15px;
  height: 15px;
}


._imageFlexContainer_12a8a_34{
  display: flex;
  flex-wrap: wrap;
}