._imageContainer_1ukqi_1 {
  background-size: contain;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

}

._imageGrid_1ukqi_10 {
  margin-top: 16px;
}

._selection_1ukqi_14 {
  position: absolute;
  top: 0;
  border-radius: 50% !important;
  background-color: #ffffffcc !important;
}


@media (max-width: 768px) {
  ._radioCheck_1ukqi_23 {
    display: none;
  }
}

._radioCheck_1ukqi_23 {
  width: 15px;
  height: 15px;
}


._imageFlexContainer_1ukqi_34{
  display: flex;
  flex-wrap: wrap;
}