._questionItem_1sx0f_1 {
  margin-bottom: 15px;
  width: 50%;
}

._questionItem_1sx0f_1:last-child {
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  ._questionItem_1sx0f_1 {
    width: 100%;
  }
}
