._leftPanelGroupItem_1a5yn_1 {
  width: 100%;
  margin-bottom: 20px;
}

._topBar_1a5yn_6._topBar_1a5yn_6 {
  display: flex;
  justify-content: end;
}
._groupTitle_1a5yn_10 {
  margin-bottom: 10px;
  font-size: 20px;
  padding-right: 12px;
  padding-left: 12px;
  font-weight: bold;
}

._iconMenu_1a5yn_18 {
  min-width: 35px;
}

._tabHeader_1a5yn_22 {
  position: relative;
}

._tabHeader_1a5yn_22::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid;
}

._leftContent_1a5yn_36 {
  background-color: white;
  width: 15rem;
  padding-top: 16px;
  overflow-y: auto;
  height: calc(100vh - 64px);
}

._close_1a5yn_44 {
  padding: 8px;
  text-align: right;
}
._leftPannelItem_6tarl_1 {
  display: inline-flex;
  border-radius: 4px;
  width: 100%;
  font-size: 15px;
  align-items: center;
  gap: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 12px;
  padding-left: 12px;
  cursor: pointer;
}
._leftPannelItem_6tarl_1:hover {
  background: #e0e2ef;
  border-radius: 4px;
}

._icon_6tarl_19 {
  margin: 8px;
}

._title_6tarl_23 {
  margin: 8px;
}

._leftPannelItem_6tarl_1._isDrayLayer_6tarl_27 {
  border: 3px dotted rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  box-sizing: border-box;
}
